aext-assistant @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d5fxz3l2ix/croot/aext-assistant_1746560160060/work
aext-assistant-server @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1emcn1_yt0/croot/aext-assistant-server_1746552985810/work
aext-core @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2eg8ig5bzd/croot/aext-core_1746546095117/work
aext-core-server @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_1eo4dumd8o/croot/aext-core-server_1746542359934/work
aext-panels @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_88neb0jwio/croot/aext-panels_1746560092300/work
aext-panels-server @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_f8jcm1930j/croot/aext-panels-server_1746552964188/work
aext-project-filebrowser-server @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_32_va59s0l/croot/aext-project-filebrowser-server_1746562207762/work/backend_lib/project_filebrowser
aext-share-notebook @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_355mar42bl/croot/aext-share-notebook_1746556798423/work
aext-share-notebook-server @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_c8l1ebgxcq/croot/aext-share-notebook-server_1746552715655/work
aext-shared @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_9etxpmoe8u/croot/aext-shared_1746540522024/work
aext-toolbox @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_4fo05xs80k/croot/anaconda-toolbox_1747230963854/work
aext_environments_server @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_44sltsc9tr/croot/aext-environments-server_1746560394654/work/backend_lib/environments
aiobotocore==3.7.0
aiodns==4.0.4
aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aioitertools==0.13.0
aiosignal @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e3cjtbh902/croot/aiosignal_1755870814211/work
alabaster==1.0.0
alembic @ file:///Users/ec2-user/croot/alembic_1772101454390/work
altair==6.1.0
anaconda-anon-usage @ file:///opt/miniconda3/conda-bld/anaconda-anon-usage_1764636648062/work
anaconda-auth @ file:///Users/ec2-user/croot/anaconda-auth_1778876932354/work
anaconda-catalogs @ file:///opt/miniconda3/conda-bld/anaconda-catalogs_1764858970195/work
anaconda-cli-base @ file:///Users/ec2-user/croot/anaconda-cli-base_1775469286756/work
anaconda-client==1.14.1
anaconda-navigator @ file:///opt/miniconda3/conda-bld/anaconda-navigator_1761578626474/work
anaconda-project @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_dcsecg0xhr/croot/anaconda-project_1746215306884/work
annotated-doc @ file:///opt/miniconda3/conda-bld/annotated-doc_1763372655690/work
annotated-types @ file:///opt/miniconda3/conda-bld/annotated-types_1761744949290/work
anyio @ file:///Users/ec2-user/croot/anyio_1773134409226/work
anywidget==0.11.0
appdirs==1.4.4
applaunchservices @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/applaunchservices_1728595929050/work
appnope @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_46iquy4y0r/croot/appnope_1750774774351/work
appscript @ file:///opt/miniconda3/conda-bld/appscript_1761144338255/work
archspec==0.2.6
argon2-cffi @ file:///Users/ec2-user/croot/argon2-cffi_1766067821168/work
argon2-cffi-bindings @ file:///opt/miniconda3/conda-bld/argon2-cffi-bindings_1757924854525/work
arrow @ file:///opt/miniconda3/conda-bld/arrow_1761560635724/work
ast_serialize==0.5.0
astroid==4.0.4
astropy==7.2.0
astropy-iers-data==0.2026.5.25.1.14.13
asttokens==3.0.1
async-lru @ file:///opt/miniconda3/conda-bld/async-lru_1761121451614/work
asyncssh==2.23.0
atomicwrites==1.4.1
attrs @ file:///Users/ec2-user/croot/attrs_1774959626218/work
Automat==25.4.16
autopep8==2.0.4
babel==2.18.0
bcrypt @ file:///opt/miniconda3/conda-bld/bcrypt_1762875116397/work
beautifulsoup4 @ file:///Users/ec2-user/croot/beautifulsoup4-split_1770291773081/work
binaryornot==0.6.0
black==26.5.1
bleach @ file:///opt/miniconda3/conda-bld/bleach_1764153568527/work
blinker @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_11lor_igbs/croot/blinker_1737449046432/work
blosc2==4.3.3
bokeh @ file:///Users/ec2-user/croot/bokeh_1767718782574/work
boltons @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_97h34kncb9/croot/boltons_1751383736162/work
botocore==1.43.0
Bottleneck==1.6.0
brotlicffi==1.2.0.1
cachetools==7.1.4
cattrs==26.1.0
certifi @ file:///Users/ec2-user/croot/certifi_1779370296289/work/certifi
cffi @ file:///opt/miniconda3/conda-bld/cffi_1761832773185/work
chardet==7.4.3
charset-normalizer @ file:///opt/miniconda3/conda-bld/charset-normalizer_1761744840553/work
click @ file:///opt/miniconda3/conda-bld/click_1764332239180/work
cloudpickle==3.1.2
colorcet==3.2.1
comm @ file:///opt/miniconda3/conda-bld/comm_1763119153598/work
conda @ file:///Users/ec2-user/croot/conda_1771402195124/work/conda-src
conda-anaconda-telemetry @ file:///croot/conda-anaconda-telemetry_1755883788794/work
conda-anaconda-tos @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ebkcs5yxh6/croot/conda-anaconda-tos_1755123330773/work
conda-build @ file:///opt/miniconda3/conda-bld/conda-build_1764886795727/work
conda-content-trust @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/conda-content-trust_1728603284288/work
conda-libmamba-solver @ file:///C:/miniconda3/conda-bld/conda-libmamba-solver_1764245615235/work/src
conda-pack==0.9.1
conda-package-handling @ file:///opt/miniconda3/conda-bld/conda-package-handling_1762366402479/work
conda-repo-cli @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3bcd8slmov/croot/conda-repo-cli_1755793051377/work
conda_index==0.11.0
conda_package_streaming @ file:///opt/miniconda3/conda-bld/conda-package-streaming_1762361629849/work
constantly @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/constantly_1728594035089/work
contourpy @ file:///opt/miniconda3/conda-bld/contourpy_1763643920891/work
cookiecutter==2.7.1
cryptography==48.0.0
cssselect==1.4.0
cycler==0.12.1
dask==2026.3.0
datashader==0.19.1
debugpy==1.8.20
decorator==5.3.1
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
diff-match-patch==20241021
dill==0.4.1
distributed==2026.3.0
distro @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/distro_1728591855492/work
dmglib==0.9.6
docstring-to-markdown @ file:///opt/miniconda3/conda-bld/docstring-to-markdown_1758626850414/work
docutils==0.21.2
et_xmlfile @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_29xjd2rw2y/croot/et_xmlfile_1756462494507/work
evalidate==2.1.4
executing @ file:///opt/miniconda3/conda-bld/executing_1757061235986/work
fastjsonschema @ file:///opt/miniconda3/conda-bld/python-fastjsonschema_1763718701479/work
filelock==3.29.0
flake8==7.1.2
Flask==3.1.3
fonttools==4.63.0
fqdn==1.5.1
frozendict==2.4.7
frozenlist @ file:///opt/miniconda3/conda-bld/frozenlist_1761062014412/work
fsspec==2026.4.0
gitdb @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_82snifofrq/croot/gitdb_1753362128356/work
GitPython==3.1.50
gmpy2==2.3.0
greenlet==3.5.1
h11 @ file:///opt/miniconda3/conda-bld/h11_1761931258823/work
h5py==3.16.0
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
holoviews==1.22.1
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
httpcore @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_941yf7p5zt/croot/httpcore_1748526061031/work
httptools==0.8.0
httpx @ file:///opt/miniconda3/conda-bld/httpx_1760447187686/work
hvplot==0.12.2
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna==3.16
ImageIO==2.37.3
imagesize==2.0.0
imbalanced-learn==0.14.1
importlib_metadata==9.0.0
Incremental==24.11.0
inflection @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/inflection_1728594520428/work
iniconfig==2.3.0
intake==2.0.9
intervaltree==3.2.1
ipykernel==6.31.0
ipympl==0.10.0
ipython==9.13.0
ipython_pygments_lexers @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_25fteymumy/croot/ipython_pygments_lexers_1744753256449/work
ipywidgets==8.1.8
isoduration==20.11.0
isort==8.0.1
itemadapter==0.13.1
itemloaders==1.4.0
itsdangerous @ file:///Users/builder/cbouss/buildout/croot/itsdangerous_1732923588034/work
jaraco.classes @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_97dr4u6nc1/croot/jaraco.classes_1755516335437/work
jaraco.context==6.1.2
jaraco.functools==4.5.0
jedi==0.19.2
jellyfish @ file:///opt/miniconda3/conda-bld/jellyfish_1764243532106/work
Jinja2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2cnn4kenrm/croot/jinja2_1741710859444/work
jmespath==1.1.0
joblib==1.5.3
json5==0.14.0
jsonpatch @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/jsonpatch_1728594556110/work
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications @ file:///opt/miniconda3/conda-bld/jsonschema-specifications_1762788416562/work
jupyter @ file:///Users/builder/cbouss/buildout/croot/jupyter_1742577908394/work
jupyter-console @ file:///Users/builder/cbouss/buildout/croot/jupyter_console_1739485173236/work
jupyter-events @ file:///Users/ec2-user/croot/jupyter_events_1778067260106/work
jupyter-lsp==2.3.1
jupyter_client @ file:///Users/ec2-user/croot/jupyter_client_1768399009041/work
jupyter_core @ file:///opt/miniconda3/conda-bld/jupyter_core_1764588283979/work
jupyter_server @ file:///Users/ec2-user/croot/jupyter_server_1779203757944/work
jupyter_server_terminals @ file:///Users/ec2-user/croot/jupyter_server_terminals_1770289355605/work
jupyterlab @ file:///Users/ec2-user/croot/jupyterlab_1778253029256/work
jupyterlab_pygments @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_42uijy7nfe/croot/jupyterlab_pygments_1741124161488/work
jupyterlab_server @ file:///opt/miniconda3/conda-bld/jupyterlab_server_1761751422354/work
jupyterlab_widgets==3.0.16
keyring @ file:///opt/miniconda3/conda-bld/keyring_1763637309871/work
kiwisolver==1.5.0
lark==1.3.1
lazy-loader==0.5
lckr_jupyterlab_variableinspector @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_9arj0c61z0/croot/jupyterlab-variableinspector_1744638302188/work
libarchive-c==5.3
libmambapy @ file:///opt/miniconda3/conda-bld/mamba-split_1763111381025/work/libmambapy
librt==0.11.0
lief==0.17.6
linkify-it-py @ file:///Users/ec2-user/croot/linkify-it-py_1777990700644/work
llvmlite==0.47.0
lmdb==2.2.0
locket @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/locket_1728588032653/work
lsprotocol @ file:///opt/miniconda3/conda-bld/lsprotocol_1759828568938/work/packages/python
lxml==6.1.1
lz4 @ file:///opt/miniconda3/conda-bld/lz4_1762953994330/work
Mako @ file:///Users/ec2-user/croot/mako_1776955125996/work
Markdown @ file:///Users/ec2-user/croot/markdown_1767787304567/work
markdown-it-py @ file:///Users/ec2-user/croot/markdown-it-py_1777540561656/work
MarkupSafe==3.0.3
matplotlib==3.10.9
matplotlib-inline==0.2.2
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdit-py-plugins @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a1xgt3_h6l/croot/mdit-py-plugins_1756379990429/work
mdurl @ file:///opt/miniconda3/conda-bld/mdurl_1758552175942/work
menuinst @ file:///opt/miniconda3/conda-bld/menuinst_1765382369523/work
mistune==3.2.1
more-itertools==11.1.0
mpi4py==4.1.2
mpmath==1.4.1
msgpack==1.1.2
multidict==6.7.1
multipledispatch @ file:///opt/miniconda3/conda-bld/multipledispatch_1756978457873/work
mypy==2.1.0
mypy_extensions==1.1.0
narwhals==2.21.2
navigator-updater @ file:///opt/miniconda3/conda-bld/navigator-updater_1761563259331/work
nb_conda_kernels @ file:///opt/miniconda3/conda-bld/nb_conda_kernels_1761768968441/work
nbclient @ file:///Users/ec2-user/croot/nbclient_1771577059398/work
nbconvert==7.17.1
nbformat @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/nbformat_1728586010733/work
ndindex==1.10.1
nest_asyncio @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/nest-asyncio_1728588080290/work
networkx==3.6.1
nh3==0.3.5
nltk==3.9.4
notebook==7.5.6
notebook_shim @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_ceoiz4k8qs/croot/notebook-shim_1741707775649/work
numba==0.65.1
numexpr @ file:///opt/miniconda3/conda-bld/numexpr_1762165518100/work
numpy==2.4.6
numpydoc==1.10.0
openpyxl @ file:///Users/builder/cbouss/buildout/croot/openpyxl_1739486465110/work
overrides @ file:///opt/miniconda3/conda-bld/overrides_1762349088215/work
packaging==26.2
pandas==3.0.3
pandocfilters @ file:///opt/miniconda3/conda-bld/pandocfilters_1756977615874/work
panel==1.9.2
panel-material-ui==0.11.2
param==2.4.0
parsel==1.11.0
parso==0.8.7
partd @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_00gzvqt15t/croot/partd_1736803428764/work
pathspec==1.1.1
patsy==1.0.2
pexpect @ file:///opt/miniconda3/conda-bld/pexpect_1762535936187/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow==12.2.0
pkce @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pkce_1728592680499/work
pkginfo @ file:///opt/miniconda3/conda-bld/pkginfo_1765439396172/work
platformdirs @ file:///Users/ec2-user/croot/platformdirs_1773652975203/work
plotly==6.7.0
pluggy @ file:///Users/ec2-user/croot/pluggy_1776972807492/work
prometheus_client @ file:///Users/ec2-user/croot/prometheus_client_1772733401325/work
prompt_toolkit @ file:///opt/miniconda3/conda-bld/prompt-toolkit_1761744878191/work
propcache==0.5.2
Protego==0.6.0
protobuf==7.35.0
psutil @ file:///opt/miniconda3/conda-bld/psutil_1761896323233/work
psygnal==0.15.1
ptyprocess @ file:///opt/miniconda3/conda-bld/ptyprocess_1762424170819/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=3470be7f810474c8a2ecfcd6e02acc6aea8483ab595417fa4e336362a349933e
pure_eval @ file:///opt/miniconda3/conda-bld/pure_eval_1757067068750/work
py-cpuinfo @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/py-cpuinfo_1728593043967/work
pyarrow==24.0.0
pyasn1==0.6.3
pyasn1_modules @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_42zeqecgwx/croot/pyasn1-modules_1752042896598/work
pycares==5.0.1
pycodestyle==2.12.1
pycosat @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_61k1o_oje7/croot/pycosat_1736868429741/work
pycparser==3.0
pyct @ file:///opt/miniconda3/conda-bld/pyct_1759932143565/work
pycurl==7.46.0
pydantic @ file:///Users/ec2-user/croot/pydantic_1778683878231/work
pydantic-settings==2.14.1
pydantic_core @ file:///Users/ec2-user/croot/pydantic-core_1778676827551/work
pydeck==0.9.2
PyDispatcher @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_13nh1jwrtr/croot/pydispatcher_1750159269550/work
pydocstyle @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pydocstyle_1728595035306/work
pyDOE2==1.3.0
pyDOE3==1.6.2
pyerfa @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_32yar1dp0d/croot/pyerfa_1738082795115/work
pyflakes==3.2.0
PyGithub==2.9.1
Pygments @ file:///Users/ec2-user/croot/pygments_1775127038696/work
PyJWT==2.13.0
pylint==4.0.5
pylint-venv==3.0.4
pyls-spyder==0.4.0
PyNaCl==1.6.2
pyobjc-core @ file:///opt/miniconda3/conda-bld/pyobjc-core_1763629855475/work
pyobjc-framework-Cocoa @ file:///opt/miniconda3/conda-bld/pyobjc-framework-cocoa_1763651373886/work
pyobjc-framework-CoreServices @ file:///opt/miniconda3/conda-bld/pyobjc-framework-coreservices_1763975793112/work
pyobjc-framework-FSEvents @ file:///opt/miniconda3/conda-bld/pyobjc-framework-fsevents_1763720524646/work
pyodbc @ file:///opt/miniconda3/conda-bld/pyodbc_1761670419572/work
pyOpenSSL==26.2.0
pyparsing==3.3.2
PyQt5==5.15.11
PyQt5_sip==12.18.0
PyQtWebEngine==5.15.7
PySide6==6.9.2
PySocks @ file:///opt/miniconda3/conda-bld/pysocks_1761753010927/work
pytest==9.0.3
python-dateutil @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/python-dateutil_1728585579455/work
python-dotenv @ file:///Users/ec2-user/croot/python-dotenv_1768559692832/work
python-json-logger==4.1.0
python-lsp-black @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_27y6e_0rf3/croot/python-lsp-black_1744023216832/work
python-lsp-jsonrpc @ file:///croot/python-lsp-jsonrpc_1708962872556/work
python-lsp-ruff==2.3.1
python-lsp-server==1.14.0
python-multipart==0.0.29
python-slugify @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_9393c95h1l/croot/python-slugify_1756294065290/work
pytokens==0.4.1
pytoolconfig==1.3.1
pytz==2026.2
pyuca @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pyuca_1728617681886/work
pyviz_comms @ file:///opt/miniconda3/conda-bld/pyviz_comms_1758102124679/work
PyWavelets @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_72w3dbiyom/croot/pywavelets_1756715672224/work
PyYAML @ file:///opt/miniconda3/conda-bld/pyyaml_1763465492884/work
pyzmq @ file:///opt/miniconda3/conda-bld/pyzmq_1762375585960/work
QDarkStyle @ file:///croot/qdarkstyle_1709231003551/work
qstylizer==0.2.4
QtAwesome==1.4.2
qtconsole==5.7.2
QtPy @ file:///opt/miniconda3/conda-bld/qtpy_1757531017002/work
queuelib==1.9.0
readchar @ file:///opt/miniconda3/conda-bld/readchar_1760613300945/work
referencing @ file:///opt/miniconda3/conda-bld/referencing_1762536885350/work
regex==2026.5.9
requests @ file:///Users/ec2-user/croot/requests_1775066190620/work
requests-file==3.0.1
requests-toolbelt @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/requests-toolbelt_1731721330284/work
rfc3339_validator @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/rfc3339-validator_1731706731994/work
rfc3986_validator @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/rfc3986-validator_1728586416230/work
rfc3987-syntax==1.1.0
rich @ file:///opt/miniconda3/conda-bld/rich_1760375480293/work
roman-numerals==4.1.0
roman-numerals-py==4.1.0
rope @ file:///opt/miniconda3/conda-bld/rope_1762431624278/work
rpds-py @ file:///opt/miniconda3/conda-bld/rpds-py_1762366478835/work
rtree @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e11g4tz883/croot/rtree_1755874873623/work
ruamel.yaml==0.19.1
ruamel.yaml.clib==0.2.15
ruamel_yaml_conda @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/ruamel_yaml_1728600367948/work
ruff==0.15.14
s3fs==2026.4.0
scikit-image==0.26.0
scikit-learn==1.8.0
scipy==1.17.1
Scrapy==2.16.0
seaborn @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_74n8m1zz4r/croot/seaborn_1749110344248/work
semver @ file:///opt/miniconda3/conda-bld/semver_1761903026306/work
Send2Trash==2.1.0
sentry-sdk @ file:///opt/miniconda3/conda-bld/sentry-sdk_1763721146801/work
service-identity @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_bcsu3iimeq/croot/service_identity_1749714989457/work
setuptools==82.0.1
shellingham @ file:///opt/miniconda3/conda-bld/shellingham_1761912204150/work
shiboken6==6.9.2
sip==6.15.3
six @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_03myqm7p6o/croot/six_1744271511946/work
sklearn-compat==0.1.5
smmap==5.0.3
sniffio==1.3.1
snowballstemmer==3.1.0
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve==2.8.4
Sphinx==9.1.0
sphinxcontrib-applehelp @ file:///croot/sphinxcontrib-applehelp_1744721330488/work
sphinxcontrib-devhelp @ file:///croot/sphinxcontrib-devhelp_1744727995579/work
sphinxcontrib-htmlhelp @ file:///croot/sphinxcontrib-htmlhelp_1744718370019/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///croot/sphinxcontrib-qthelp_1744721051257/work
sphinxcontrib-serializinghtml @ file:///croot/sphinxcontrib-serializinghtml_1744724097162/work
spyder==6.1.4
spyder-kernels==3.1.4
SQLAlchemy @ file:///Users/ec2-user/croot/sqlalchemy_1773755053840/work
stack_data @ file:///opt/miniconda3/conda-bld/stack_data_1757067040463/work
starlette==1.1.0
statsmodels==0.14.6
streamlit==1.57.0
superqt==0.8.2
sympy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_9b15dnv4zk/croot/sympy_1756713487054/work
tables==3.11.1
tabulate==0.10.0
tblib==3.2.2
tenacity==9.1.4
terminado @ file:///opt/miniconda3/conda-bld/terminado_1757934724536/work
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_ef9qmeucrx/croot/textdistance_1751314510723/work
threadpoolctl==3.6.0
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile==2026.5.15
tinycss2 @ file:///Users/builder/cbouss/buildout/croot/tinycss2_1739483860002/work
tldextract==5.3.1
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///Users/ec2-user/croot/tomli_1768297433071/work
tomlkit @ file:///opt/miniconda3/conda-bld/tomlkit_1762896638273/work
toolz==1.1.0
tornado @ file:///Users/ec2-user/croot/tornado_1774303633236/work
tqdm @ file:///Users/ec2-user/croot/tqdm_1771398699921/work
traitlets @ file:///Users/ec2-user/croot/traitlets_1778743200843/work
truststore @ file:///Users/ec2-user/croot/truststore_1778600073374/work
Twisted==26.4.0
typer==0.26.2
typer-slim==0.24.0
typing-inspection @ file:///opt/miniconda3/conda-bld/typing-inspection_1760614169744/work
typing_extensions @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_dffmcwqo6o/croot/typing_extensions_1756281471323/work
tzdata==2026.2
uc-micro-py @ file:///Users/ec2-user/croot/uc-micro-py_1777985184069/work
ujson==5.12.1
uri-template==1.3.0
urllib3 @ file:///Users/ec2-user/croot/urllib3_1778536192006/work
uvicorn==0.48.0
uvloop @ file:///opt/miniconda3/conda-bld/uvloop_1762175502840/work
w3lib==2.4.1
watchdog @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_17oci7qz55/croot/watchdog_1740409923753/work
wcwidth==0.7.0
webcolors==25.10.0
webencodings @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/webencodings_1728586135895/work
websocket-client==1.9.0
websockets==16.0
Werkzeug==3.1.8
whatthepatch @ file:///opt/miniconda3/conda-bld/whatthepatch_1758276655940/work
wheel==0.47.0
widgetsnbextension==4.0.15
wrapt==2.2.1
wurlitzer @ file:///opt/miniconda3/conda-bld/wurlitzer_1756979036322/work
xarray==2026.4.0
xlwings==0.35.3
xyzservices @ file:///Users/ec2-user/croot/xyzservices_1776782991549/work
yapf @ file:///opt/miniconda3/conda-bld/yapf_1761560514687/work
yarl==1.24.2
zict @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/zict_1728593607242/work
zipp==4.1.0
zope.interface==8.5
zstandard==0.25.0
